/* Text Align */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-j {
  text-align: justify;
}

/* Text Color */
.text-purple {
  color: #565387;
}

/* Buttons */
.loginbtn {
  background-color: #565387;
  padding: 0.5em 1.5em;
  font-size: 1.1em;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 1.8em 1.5em 1.5em 0;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.loginbtn:hover {
  transform: translateY((-5px));
  box-shadow: 0 5px 5px #00000040;
}
/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
  margin: 15px;
}
.margin-g-sm {
  margin: 10px;
}
.margin-g-md {
  margin: 20px;
}
.margin-g-lg {
  margin: 30px;
}

.margin-l {
  margin-left: 15px;
}
.margin-l-sm {
  margin-left: 10px;
}
.margin-l-md {
  margin-left: 20px;
}
.margin-l-lg {
  margin-left: 100px;
}

.margin-r {
  margin-right: 15px;
}
.margin-r-sm {
  margin-right: 10px;
}
.margin-r-md {
  margin-right: 20px;
}
.margin-r-lg {
  margin-right: 30px;
}

.margin-t {
  margin-top: 20px;
}
.margin-t-l {
  margin-top: -50px;
}
.margin-t-sm {
  margin-top: 10px;
}
.margin-t-md {
  margin-top: 20px;
}
.margin-t-lg {
  margin-top: 100px;
}

.margin-b {
  margin-bottom: 15px;
}
.margin-b-sm {
  margin-bottom: 10px;
}
.margin-b-md {
  margin-bottom: 20px;
}
.margin-b-lg {
  margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
  background-color: transparent;
  background-image: none;
  border: 1px solid #6b68a0;
  border-radius: 12px;
  border-width: 2px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
.border-line:focus {
  border-color: #736fb9;
  background-color: #7d7aad;
  color: #e6e6e6;
}
.form-control,
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  color: black;
}

/* Container */

.container-content {
  background-color: #6e6ba3;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: white;
  border-radius: 25px;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

/* Logins*/

.login-container {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 0;
  margin-left: 530px;
  border-radius: 15px;
}
.login.login-container {
  width: 300px;
}
.wrapper.login-container {
  margin-top: 140px;
}
.size_img {
  size: cover;
  height: 500px;
  width: 700px;
}
.left_margin {
  margin-left: 200px;
}
.left_m {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.text_s {
  font-size: 1.1em;
}
.left_m2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
