.logo {
  height: 90pt;
  padding-right: 50ex;
  /* margin-top: -5rem;
  margin-left: -10rem; */

  margin-left: -9%;
}
.padding {
  padding-right: 40ex;
}
.padl {
  padding-right: 45ex;
}
.pader {
  margin-left: 280px;
}
.padding-b {
  margin-top: 5ex;
  margin-bottom: 5ex;
}
.backg {
  background-color: #0d0a3d !important;
}
.position {
  margin: 2% 0% 0% 30%;

  display: inline-block;
}
@media (max-width: 991px) {
  .logo {
    height: 60pt;
    padding-right: 50ex;
    margin-top: -5rem;
    margin-left: -8rem;
  }
}
