.logo {
  height: 90pt;
  padding-right: 50ex;
  /* margin-top: -5rem;
  margin-left: -10rem; */

  margin-left: -4%;
}
.padding {
  padding-right: 40ex;
}
.padl {
  padding-right: 15ex;
}
.pader {
  margin-left: 280px;
}
.padding-b {
  margin-top: 5ex;
  margin-bottom: 5ex;
}
.backg {
  background-color: #0d0a3d !important;
}

.position {
  margin: 2% 0% 0% 50%;

  display: inline-block;
}
@media (max-width: 991px) {
  .logo {
    height: 60pt;
    padding-right: 50ex;
    margin-top: -5rem;
    margin-left: -2rem;
  }
}
.nav_bg {
  /* border: 1px solid darkblue; */
  justify-content: center;
}

#navbar-content {
  /* border: 1px solid darkmagenta; */
  display: flex;
}

.navbar-collapse {
  /* border: 1px solid darksalmon; */
  display: flex;
}

ul.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}
