.logo{
    height: 90pt;
/*    padding-right: 50ex;*/
/*    margin-left: 10px; */ 
margin-left:auto;
}
.mg{
  margin-right:auto;
}
.navbar {
  background-color: transparent;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387  !important;
}

.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid#565387;
}

.navbar a:hover {
    color: #3498db  !important; 
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem  !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}
/*responsive*/
