code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .FormGroup {
<<<<<<< HEAD
	  width: 500px;
	margin: 0 15px 20px;
=======
	margin-left: 0px;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 35px;
>>>>>>> 0a88e1bfc55ab5f4e5439234fe01ad5c498dd2e9
	padding: 0;
	border-style: none;
	background-color: #fff;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #000000;
	border-radius: 10px;
	width: 290px;
}
.wt{
	width: 560px;
}
.FormRow {
	width: 500px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #000000;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 60rem;
	padding: 11px 15px 11px 0;
}

h1,
h3 {
	text-align: center;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 1000px;
  }
  .margin_t{
	  margin-top: 120px;
	 padding-left: 536px;
  }
  .margintp{
	margin-top: 25px;
  }
  .m_l{
	padding-left: 168px;
  }